<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><body>{% extends 'base.html' %}

{% block title %} Главная страница. {% endblock %}

{% block content %}
       <div style="margin: 50px 10%">
            <article class="content">
                <h4><b>Для чего нужен этот сайт?</b></h4>
                <p><font face = "Fantasy">Сайт предназначен для сбора данных о том, как информанты относятся к разным домашним животным.</font></p><br>

                <h4><b>Какие данные необходимо предоставить?</b></h4>
                <p><font face = "Fantasy">Ваш пол, возраст, студент ли Вы, Ваши предпочтения насчёт домашних животных, ситуативные вопросы про содержание питомца.</font></p><br>
   
                <h4><b>Где можно пройти анкету?</b></h4>
                <p><font face = "Fantasy">Воспользоваться интерактивной кнопкой "Вопросы" в меню страницы.</font></p><br>
 
                <h4><b>Где можно посмотреть статистику ответов?</b></h4>
                <p><font face = "Fantasy">Посчитать самому, нажать на кнопку "Результаты".</font></p><br>

                 <h4><b>Примечание.</b></h4>
                 <p><font face = "Fantasy">Ваши данные будут использоваться только в исследовательских целях. Пожалуйста, отвечайте честно.</font></p><br>
                 <p><font face = "Fantasy">Удачи! ^~^</font></p><br>
            </article>
        </div>
    {% endblock %}
    
</body></div>

<footer class="bg-light text-lg-start">
  <div class="p-3"">
     <font face = "Fantasy">Разработчик сайта — Властопуло С. Р., <a href="https://telegram.me/vlastopulosophia">мой телеграм</a></font>.
  </div>
</footer>
</div>

</html>    
</body>
</html>
{% endblock %}                                                                                                                
