{% extends 'base.html' %}

{% block title %} Опрос {% endblock %}

{% block content %}
<br>
<form class="container" action="/process">
    <div class="row">
    <title>Вопросы.</title>
    <h2><font face = "Fantasy">Survey.</font></h2>
</head>
<body>
<form>
    
    <h4><font face = "Helvetica"><b>Question 1.</b></font></h4>
    <label><font face = "Fantasy">Имя: <input type="text" name="name"></font> </label>
    
    <h4><font face = "Helvetica"><b>Question 2.</b></font></h4>
    <label><font face = "Fantasy">Возраст: <input type="text" name="age"></font> </label>
    
    <h4><font face = "Helvetica"><b>Question 3.</b></font></h4>
    <label><font face = "Fantasy">Ваш пол.</font><br>
    <label><input class="form-check-input" type="checkbox" name="female"><font face = "Fantasy">Ж.</font></label><br>
    <label><input class="form-check-input" type="checkbox" name="male"><font face = "Fantasy">М.</font></label><br>
    
    <h4><font face = "Helvetica"><b>Question 4.</b></font></h4>
    <label><font face = "Fantasy">Я студент:</font> <input type="checkbox" name="student"></label><br>

    <h4><font face = "Helvetica"><b>Question 5.</b></font></h4>
    <label><font face = "Fantasy">Какое животное Вам больше нравится на основе <b>внешних данных</b>?</font><br>
    <label><input class="form-check-input" type="checkbox" name="dog"><font face = "Fantasy">собака.</font></label><br>
    <label><input class="form-check-input" type="checkbox" name="cat"><font face = "Fantasy">кошка.</font></label><br>

    <h4><font face = "Helvetica"><b>Question 6.</b></font></h4>
    <label><font face = "Fantasy">Какое животное Вам больше нравится на основе <b>характера</b>?</font><br>
    <label><input class="form-check-input" type="checkbox" name="dog"><font face = "Fantasy">собака.</font></label><br>
    <label><input class="form-check-input" type="checkbox" name="male"><font face = "Fantasy">кошка.</font></label><br>
    
    <h4><font face = "Helvetica"><b>Question 7.</b></font></h4>
    <label><font face = "Fantasy">Какое животное Вы бы приобрели, если бы покупка была назначена на <b>завтра</b>?</font><br>
    <label><input class="form-check-input" type="checkbox" name="female"><font face = "Fantasy">собака.</font></label><br>
    <label><input class="form-check-input" type="checkbox" name="male"><font face = "Fantasy">кошка.</font></label><br>
        
    <h4><font face = "Helvetica"><b>Question 8.</b></font></h4>
    <label><font face = "Fantasy">Какое животное Вы бы приобрели, если бы если бы у Вас был <b>частный дом</b>?</font><br>
    <label><input class="form-check-input" type="checkbox" name="female"><font face = "Fantasy">собака.</font></label><br>
    <label><input class="form-check-input" type="checkbox" name="male"><font face = "Fantasy">кошка.</font></label><br> 
    <label><input type="submit" value="Отправить"></label>
</form>
</body>
</html>
{% endblock %}
