{% extends 'base.html' %}

<h4><b>Для чего нужен этот сайт?</b></h4>
<p><font face = "Fantasy">Сайт предназначен для сбора данных о том, как информанты относятся к разным домашним животным.</font></p><br>

{% block title %} Опрос {% endblock %}

{% block content %}
<br>
<form class="container" action="/process">
    <p><h3><font face = "Fantasy">Survey.</font></h3></p>
    <div class="row">
        <div class="col-md-4"><font face = "Fantasy">Ваш возраст:</font></div>
        <input type="number" name="age">
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"><font face = "Fantasy">Ваш пол:</font></div>
        <select name="gender" class="col-md-4">
            <option value="male">мужской.</option>
            <option value="female">женский.</option>
        </select>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"><font face = "Fantasy">Вы студент?</font></div>
        <select name="education" class="col-md-4">
            <option value="student">студент.</option>
            <option value="not_student">не студент.</option>
        </select>
    </div>
    <hr>
    <h4><font face = "Fantasy">Questions.</font></h4>

    <div style="margin: 50px 10%">
        <p><h4 style="text-align: left;"> Вопрос 1.</h4></p>
        <p><font face = "Fantasy">Как Вы относитесь к <a href="https://ru.wikipedia.org/wiki/Кошка">кошкам</a> в <b>эстетическом</b> плане? Завели бы Вы кота / кошку <b>исключительно</b> на основе внешних данных?</font></p><br>
        <input class="radio" type="radio" name="q1" value=0> 0 — отвратительно.<br>
        <input class="radio" type="radio" name="q1" value=1> 1 — плохо.<br>
        <input class="radio" type="radio" name="q1" value=2> 2 — терпимо.<br>
        <input class="radio" type="radio" name="q1" value=3> 3 — посредственно.<br>
        <input class="radio" type="radio" name="q1" value=4> 4 — хорошо.<br>
        <input class="radio" type="radio" name="q1" value=5> 5 — прекрасно.<br>
    </div>
    <hr>
    <div style="margin: 50px 10%">
        <p><h4 style="text-align: left;"> Вопрос 2.</h4></p>
        <p><font face = "Fantasy">Как Вы относитесь к <b>характеру</b> кошек? Как бы Вы оценили поведение кошек?</font></p><br>
        <input class="radio" type="radio" name="q2" value=0> 0 — они никогда не слушаются хозяев, они безчувственны.<br>
        <input class="radio" type="radio" name="q2" value=1> 1 — они своенравны, я не люблю то, как они себя ведут.<br>
        <input class="radio" type="radio" name="q2" value=2> 2 — я могу потерпеть присутствие кошки, но думаю, что они эгоистичны.<br>
        <input class="radio" type="radio" name="q2" value=3> 3 — нейтрально отношусь к кошкам, хотя в их поведении есть что-то милое.<br>
        <input class="radio" type="radio" name="q2" value=4> 4 — милые и добрые животные.<br>
        <input class="radio" type="radio" name="q2" value=5> 5 — обожаю кошек, у них нет недостатков в плане характера.<br>
    </div>
    <hr>
    <div style="margin: 50px 10%">
        <p><h4 style="text-align: left;"> Вопрос 3.</h4></p>
        <p><font face = "Fantasy">Оцените внешние данные <a href="https://ru.wikipedia.org/wiki/Собака">собак</a>.</font></p><br>
        <input class="radio" type="radio" name="q3" value=0> 0 — не могу смотреть на них.<br>
        <input class="radio" type="radio" name="q3" value=1> 1 — они ужасны, я не люблю их.<br>
        <input class="radio" type="radio" name="q3" value=2> 2 — они некрасивые.<br>
        <input class="radio" type="radio" name="q3" value=3> 3 — они неплохие.<br>
        <input class="radio" type="radio" name="q3" value=4> 4 — они милые и плюшевые.<br>
        <input class="radio" type="radio" name="q3" value=5> 5 — обожаю то, как выглядят собаки.<br>
    </div>
    <hr>
    <div style="margin: 50px 10%">
        <p><h4 style="text-align: left;"> Вопрос 4.</h4></p>
        <p><font face = "Fantasy">Как Вы относитесь к <b>характеру</b> собак? Конечно, эти данные различаются от породы к породе, но опишите general tendency.</font></p><br>
        <input class="radio" type="radio" name="q4" value=0> 0 — ужасно.<br>
        <input class="radio" type="radio" name="q4" value=1> 1 — очень плохо.<br>
        <input class="radio" type="radio" name="q4" value=2> 2 — плохо.<br>
        <input class="radio" type="radio" name="q4" value=3> 3 — неплохо, терпимо.<br>
        <input class="radio" type="radio" name="q4" value=4> 4 — хорошо, даже очень.<br>
        <input class="radio" type="radio" name="q4" value=5> 5 — отлично, прекрасно, идеально.<br>
    </div>
    <hr>
    <div style="margin: 50px 10%">
        <p><h4 style="text-align: left;"> Вопрос 5.</h4></p>
        <p><font face = "Fantasy">Как вы относитесь к <a href="https://ru.wikipedia.org/wiki/Грызуны">грызунам</a>?</font></p><br>
        <input class="radio" type="radio" name="q5" value=0> 0 — ужасно.<br>
        <input class="radio" type="radio" name="q5" value=1> 1 — очень плохо.<br>
        <input class="radio" type="radio" name="q5" value=2> 2 — плохо.<br>
        <input class="radio" type="radio" name="q5" value=3> 3 — неплохо, но я бы не завёл / завела грызуна.<br>
        <input class="radio" type="radio" name="q5" value=4> 4 — хорошо.<br>
        <input class="radio" type="radio" name="q5" value=5> 5 — отлично, я хочу завести мышку или хомячка.<br>
    </div>
    <hr>
    <div style="margin: 50px 10%">
        <p><h4 style="text-align: left;"> Вопрос 6.</h4></p>
        <p><font face = "Fantasy">Как вы относитесь к экзотическим животным? Завели бы Вы <a href="https://ru.wikipedia.org/wiki/Змеи">змею, <a href="https://ru.wikipedia.org/wiki/Пауки">паука или <a href="https://ru.wikipedia.org/wiki/Ящерицы">ящерицу?</font></p><br>
        <input class="radio" type="radio" name="q6" value=0> 0 — определённо нет.<br>
        <input class="radio" type="radio" name="q6" value=1> 1 — нет.<br>
        <input class="radio" type="radio" name="q6" value=2> 2 — скорее нет.<br>
        <input class="radio" type="radio" name="q6" value=3> 3 — возможно.<br>
        <input class="radio" type="radio" name="q6" value=4> 4 — скорее да.<br>
        <input class="radio" type="radio" name="q6" value=5> 5 — определённо да.<br>
    </div>
    <hr>
    <div class="row">
        <input class="submit" type="submit" name="submit" value="Отправить">
    </div>
</form>
<br>
<br>
<br>
{% endblock %}
